label {
  width: 100%;
  cursor: pointer;
  padding: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  transition: all 0.5s ease;
}

#ch1 {
  display: none;
}

#ch1:checked ~ .incard1 {
  max-height: 500px; /* Adjust this value to match the maximum expected height */
  padding-top: 10px;
}

.incard1 {
  background-color: #f8cb02;
  width: 100%;
  padding-top: 0;
  font-size: 1.3rem;
  overflow: hidden;
  max-height: 0;
  display: grid; /* Keep the grid display always on */
  align-items: center;
  justify-items: center; /* Keep content centered */
  transition: max-height 0.5s ease, padding-top 0.5s ease;
}

.card1 {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 0;
  margin-top: 1.2rem;
  background-color: #a08403;
}



#ch2 {
  display: none;
}

#ch2:checked ~ .incard2{
  display: block;
  display: grid;
  align-items: center;
  justify-items: center;
}

.incard2 {
  background-color: #f8cb02;
  width: 100%;
  padding-top: 0;
  display: none;
  font-size: 1.3rem;
}

.card2{
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 0;
  margin-top: 1.2rem;
  background-color: #a08403;
}

#ch3 {
    display: none;
  }
  
  #ch3:checked ~ .incard3{
    display: block;
    display: grid;
    align-items: center;
    justify-items: center;
  }
  
  .incard3 {
    background-color: #f8cb02;
    width: 100%;
    padding-top: 0;
    display: none;
    font-size: 1.3rem;
  }
  
  .card3{
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 0;
    margin-top: 1.2rem;
    background-color: #a08403;
  }

  #ch4 {
    display: none;
  }
  
  #ch4:checked ~ .incard4{
    display: block;
    display: grid;
    align-items: center;
    justify-items: center;
  }
  
  .incard4 {
    background-color: #f8cb02;
    width: 100%;
    padding-top: 0;
    display: none;
    font-size: 1.3rem;
  }
  
  .card4{
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 0;
    margin-top: 1.2rem;
    background-color: #a08403;
  }

  #ch5 {
    display: none;
  }
  
  #ch5:checked ~ .incard5{
    display: block;
    display: grid;
    align-items: center;
    justify-items: center;
  }
  
  .incard5 {
    background-color: #f8cb02;
    width: 100%;
    padding-top: 0;
    display: none;
    font-size: 1.3rem;
  }
  
  .card5{
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 0;
    margin-top: 1.2rem;
    background-color: #a08403;
  }
  

